html { overflow-y: scroll; }

.rules {
    position: fixed;
    background-color: darkgrey;
    width: 90%;
    margin: 4.5%;
    margin-top: 4%;
    height: 95%;
    align-items: center
}

p {
    text-align: center
}

body {
    background-color: firebrick;
    position: absolute; 
}

.ok {
    position: relative;
    left: 36%;
    /* display: flex;
    justify-content: center */
    width: 40%;
}

button {}